.pay-for-pet {
  margin-top: 50px;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 0 auto;
    margin-bottom: 40px;

    @include media-breakpoint-down(xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .pet-need {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__name {
      text-align: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &-item {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: clamp(16px, 2.5vw, 20px);
        line-height: 24px;
        color: $gray4Color;

        span {
          color: $whiteColor;
        }
      }
    }

    &__pay {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      max-width: 455px;
    }

    &__summ {
      font-size: clamp(16px, 2.5vw, 20px);
      text-transform: uppercase;
      font-weight: 700;

      span {
        font-weight: 400;
        text-transform: lowercase;
      }
    }

    &__pay-btn {
      font-weight: 700;
      font-size: clamp(16px, 2.5vw, 18px);
    }
  }
}
