<header class="header">
  <div class="burger__backdrop"></div>

  <div class="header__container">
    <a class="header__logo" href="index.html"> Dreamy Tail </a>

    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="index.html">Головна</a></li>
        <li class="menu__item"><a href="#">Калалог</a></li>
        <li class="menu__item"><a href="about-company.html">Про нас</a></li>
        <li class="menu__item"><a href="#">Донат на підтримку</a></li>
        <li class="menu__item"><a href="#">Контакти</a></li>
      </ul>

      <div class="menu__buttons">
        <a href="#" class="registration__btn btn grey">
          <span>Реєстрація</span>
        </a>
        <a href="#" class="authorization__btn btn grey">
          <span>Авторизація</span>
        </a>
      </div>
    </nav>

    <div class="header__btn-wrapper">
      <a href="#" class="registration__btn btn grey">
        <span>Реєстрація</span>
      </a>
      <a href="#" class="authorization__btn btn grey">
        <span>Авторизація</span>
      </a>

      <button class="header__burger">
        <span class="header__burger-span-top"></span>
        <span class="header__burger-span-middle"></span>
        <span class="header__burger-span-bottom"></span>
      </button>
    </div>
  </div>
</header>
